[submodule ".vim/vundle"]
	path = .vim/vundle
	url = http://github.com/gmarik/vundle.git
[submodule "neobundle.vim"]
	path = neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule ".vim/neobundle.vim"]
	path = .vim/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
